<%- include("partials/header.ejs") %>

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>View Blogs</title>
    <link rel="stylesheet" href="/styles.css">
</head>
<body>
    
    <% if (blogs.length > 0) { %>
        <ul>
            <% blogs.forEach(blog => { %>
                <li>
                    <h2><%= blog.title %></h2>
                    <p><%= blog.content %></p>
                    <a href="/edit/<%= blog.id %>">Edit</a>
                    <form action="/delete/<%= blog.id %>" method="POST" style="display:inline;">
                        <button type="submit">Delete</button>
                    </form>
                </li>
            <% }) %>
        </ul>
    <% } else { %>
        <p>No blogs available. <a href="/create">Create one!</a></p>
    <% } %>
</body>
</html>


